<%- include('./tags/head.ejs') %>
<div class="about-wrapper">

    <div>
        <h3>About our page</h3>
        <p>Welcome to our download video platform! We provide a fast and easy way to download videos from Youtube. With our user-friendly interface, you can easily navigate and search for the videos you want to download.</p>

        <p> Our platform supports a wide range of video formats, resolutions, and qualities, ensuring that you can download the video in the format that suits your needs. Whether you want to download a video for offline viewing, editing, or sharing, we've got you covered. So start downloading your favorite videos and audio now and enjoy watching or listening them anytime, anywhere!</p>
    </div>
    
    
</div>

<%- include('./tags/footer.ejs') %>