<%- include('./tags/head.ejs') %>
    <div class="guide-wrapper">
        <div class="desktop-wrapper">
            <h1>How to use on PC?</h1>
            <div class="instructions">
                <ol>
                    <li>Open New Tab and open <a target="_blank" href="https://www.youtube.com">Youtube</a></li>
                    <li>Search a youtube video then play/pause it</li>
                    <li>Then copy the url</li>
                    <li>Paste it to the youtube downloader search bar</li>
                    <li>Example: <br>https://www.youtube.com/watch?v=hRr7qRb-7k4</li>
                    <li>Remove "https://www.youtube.com/watch?v="</li>
                    <li>Then all that's left is this "<span style="color:red;font-weight:600">hRr7qRb-7k4</span>" then enter</li>
                    <li>Then Download</li>
                    <li>Just follow the steps above</li>
                </ol>
            </div>
        </div>
        <div class="mobile-wrapper">
            <h1>How to use on Mobile Phone?</h1>
            <div class="instructions">
                <ol>
                    <li>Open Youtube app or open <a target="_blank" href="https://www.youtube.com">Youtube</a> link</li>
                    <li>Search a youtube video then play/pause it</li>
                    <li>Then find and tap the share button</li>
                    <li>Copy the link</li>
                    <li>Paste it to the youtube downloader search bar</li>
                    <li>Example: <br>https://youtu.be/hRr7qRb-7k4</li>
                    <li>Remove "https://youtu.be/"</li>
                    <li>Then all that's left is this "<span style="color:red;font-weight:600">hRr7qRb-7k4</span>" then enter</li>
                    <li>Then Download</li>
                    <li>Just follow the steps above</li>
                </ol>
            </div>
        </div>
    </div>
<%- include('./tags/footer.ejs') %>