
<nav id="sticky-navigation">
    <a href="/" id="logo">Youtube <span id="colorDownload">Downloader</span></a>
    <div>
        <a href="/">Home</a>
        <a href="#">Guide</a>
        <a href="#">About</a>
    </div>
    <button class="hamburger">&#9776;</button>
</nav>